In [1]:
import pandas as pd
import numpy as np

In [128]:
dataset = "WISDM"
file_names = [f"./DeepJDOT_{dataset}.csv", f"./MCD_{dataset}.csv", f"./SWD_{dataset}.csv"]

In [129]:
dfs = {}
to_delete = 'f1_score'
for f in file_names:
    df = pd.read_csv(f)
    col = list(df.columns)
    col.remove('auroc')
    col.remove('auroc_std')
    df = df.round(2)[col]
    name = f[2:-4]
    dfs[name] = df

In [130]:
dfs

{'DeepJDOT_WISDM':     scenario   acc  f1_score  acc_std  f1_score_std
 0   17_to_23  0.62      0.39     0.02          0.02
 1   20_to_30  0.75      0.60     0.05          0.01
 2   23_to_32  0.40      0.42     0.13          0.16
 3    28_to_4  0.89      0.85     0.07          0.10
 4    2_to_11  0.84      0.76     0.12          0.15
 5   33_to_12  0.87      0.68     0.02          0.08
 6   35_to_31  0.70      0.65     0.04          0.10
 7    5_to_26  0.70      0.30     0.00          0.00
 8    6_to_19  0.66      0.53     0.07          0.03
 9    7_to_18  0.71      0.45     0.02          0.01
 10      mean  0.71      0.56     0.05          0.07
 11       std  0.13      0.17     0.04          0.06,
 'MCD_WISDM':     scenario   acc  f1_score  acc_std  f1_score_std
 0   17_to_23  0.70      0.31     0.05          0.03
 1   20_to_30  0.86      0.68     0.01          0.02
 2   23_to_32  0.78      0.62     0.05          0.10
 3    28_to_4  0.80      0.69     0.02          0.00
 4    2_to_11  0.75      0.60     0.02          0.04
 5   33_to_12  0.80      0.43     0.01          0.00
 6   35_to_31  0.62      0.47     0.02          0.04
 7    5_to_26  0.69      0.28     0.01          0.01
 8    6_to_19  0.85      0.67     0.04          0.08
 9    7_to_18  0.81      0.60     0.09          0.03
 10      mean  0.77      0.54     0.03          0.03
 11       std  0.07      0.14     0.03          0.03,
 'SWD_WISDM':     scenario   acc  f1_score  acc_std  f1_score_std
 0   17_to_23  0.71      0.40     0.01          0.09
 1   20_to_30  0.77      0.62     0.06          0.04
 2   23_to_32  0.49      0.61     0.08          0.06
 3    28_to_4  0.75      0.71     0.09          0.03
 4    2_to_11  0.79      0.66     0.02          0.09
 5   33_to_12  0.81      0.46     0.01          0.05
 6   35_to_31  0.64      0.52     0.03          0.08
 7    5_to_26  0.70      0.29     0.00          0.01
 8    6_to_19  0.83      0.67     0.02          0.05
 9    7_to_18  0.78      0.51     0.06          0.09
 10      mean  0.73      0.55     0.04          0.06
 11       std  0.10      0.13     0.03          0.03}

In [133]:
df = dfs[f"MCD_{dataset}"]
df1 = dfs[f"SWD_{dataset}"]
df2 = dfs[f"DeepJDOT_{dataset}"]

m = "f1_score"
for s,f,g,f1,g1,f2,g2 in zip(df.scenario, df[m], df[m + "_std"], df1[m], df1[m + "_std"],df2[m], df2[m + "_std"]):
    s = s.replace("_to_", " \\rightarrow ")
    if s == "std" or s == "mean":
        print(f"{dataset} {s} & {f} $\pm$ {g} & {f1} $\pm$ {g1} & {f2} $\pm$ {g2} \\\\")
    else:
        print(f"{dataset} ${s}$ & {f} $\pm$ {g} & {f1} $\pm$ {g1} & {f2} $\pm$ {g2} \\\\")

WISDM $17 \rightarrow 23$ & 0.31 $\pm$ 0.03 & 0.4 $\pm$ 0.09 & 0.39 $\pm$ 0.02 \\
WISDM $20 \rightarrow 30$ & 0.68 $\pm$ 0.02 & 0.62 $\pm$ 0.04 & 0.6 $\pm$ 0.01 \\
WISDM $23 \rightarrow 32$ & 0.62 $\pm$ 0.1 & 0.61 $\pm$ 0.06 & 0.42 $\pm$ 0.16 \\
WISDM $28 \rightarrow 4$ & 0.69 $\pm$ 0.0 & 0.71 $\pm$ 0.03 & 0.85 $\pm$ 0.1 \\
WISDM $2 \rightarrow 11$ & 0.6 $\pm$ 0.04 & 0.66 $\pm$ 0.09 & 0.76 $\pm$ 0.15 \\
WISDM $33 \rightarrow 12$ & 0.43 $\pm$ 0.0 & 0.46 $\pm$ 0.05 & 0.68 $\pm$ 0.08 \\
WISDM $35 \rightarrow 31$ & 0.47 $\pm$ 0.04 & 0.52 $\pm$ 0.08 & 0.65 $\pm$ 0.1 \\
WISDM $5 \rightarrow 26$ & 0.28 $\pm$ 0.01 & 0.29 $\pm$ 0.01 & 0.3 $\pm$ 0.0 \\
WISDM $6 \rightarrow 19$ & 0.67 $\pm$ 0.08 & 0.67 $\pm$ 0.05 & 0.53 $\pm$ 0.03 \\
WISDM $7 \rightarrow 18$ & 0.6 $\pm$ 0.03 & 0.51 $\pm$ 0.09 & 0.45 $\pm$ 0.01 \\
WISDM mean & 0.54 $\pm$ 0.03 & 0.55 $\pm$ 0.06 & 0.56 $\pm$ 0.07 \\
WISDM std & 0.14 $\pm$ 0.03 & 0.13 $\pm$ 0.03 & 0.17 $\pm$ 0.06 \\

In [127]:
s =

SyntaxError: unterminated string literal (detected at line 1) (310618716.py, line 1)

In [72]:
print(str(dfs["DeepJDOT_WISDM"]))

    scenario   acc  acc_std
0   17_to_23  0.62     0.02
1   20_to_30  0.75     0.05
2   23_to_32  0.40     0.13
3    28_to_4  0.89     0.07
4    2_to_11  0.84     0.12
5   33_to_12  0.87     0.02
6   35_to_31  0.70     0.04
7    5_to_26  0.70     0.00
8    6_to_19  0.66     0.07
9    7_to_18  0.71     0.02
10      mean  0.71     0.05
11       std  0.13     0.04

In [20]:
df_mean["scenario"] = "avg"

In [29]:
df.loc[len(df)] = df_mean[df.columns]

In [31]:
df_mean

acc             0.664948
f1_score        0.529925
auroc           0.806945
acc_std         0.053115
f1_score_std    0.065916
auroc_std       0.039032
scenario             avg
dtype: object

In [30]:
df

    scenario       acc  f1_score     auroc   acc_std  f1_score_std  auroc_std
0   17_to_23  0.616667  0.389727  0.835084  0.023570      0.018531   0.072414
1   20_to_30  0.745146  0.600751  0.853054  0.048463      0.014192   0.012637
2   23_to_32  0.402174  0.423201  0.747337  0.131437      0.158749   0.040603
3    28_to_4  0.890152  0.846774  0.978171  0.069295      0.095042   0.027394
4    2_to_11  0.838816  0.760921  0.927308  0.120773      0.152747   0.084847
5   33_to_12  0.867816  0.676678  0.908067  0.019909      0.079980   0.035727
6   35_to_31  0.704819  0.654929  0.881547  0.039959      0.100031   0.014740
7    5_to_26  0.695122  0.295810  0.866952  0.000000      0.003289   0.018862
8    6_to_19  0.660985  0.527890  0.895897  0.071703      0.033332   0.035252
9    7_to_18  0.709906  0.453079  0.856829  0.016112      0.012475   0.061872
10      mean  0.713160  0.562976  0.875024  0.054122      0.066837   0.040435
11       std  0.134614  0.166365  0.058070  0.042036      0.055785   0.023605
12       avg  0.664948  0.529925  0.806945  0.053115      0.065916   0.039032

In [22]:
df.append(df_mean)

AttributeError: 'DataFrame' object has no attribute 'append'

In [15]:
df = pd.concat([df, df_mean], axis=1, join="inner")
df.head

<bound method NDFrame.head of Empty DataFrame
Columns: [scenario, acc, f1_score, auroc, acc_std, f1_score_std, auroc_std, 0]
Index: []>

In [17]:
df.head()

Empty DataFrame
Columns: [scenario, acc, f1_score, auroc, acc_std, f1_score_std, auroc_std, 0]
Index: []

In [80]:
df = df.drop("Unnamed: 0", axis=1)
df = df.iloc[:-2]
df.head(7)

   scenario run     acc  f1_score   auroc
0   7_to_18   0  0.7642    0.5679  0.9197
1   7_to_18   1  0.7453    0.5539  0.8403
2   7_to_18   2  0.7453    0.4629  0.7960
3   7_to_18   3  0.6604    0.5511  0.7569
4   7_to_18   4  0.7264    0.4014  0.6626
5  20_to_30   0  0.7282    0.5793  0.8756
6  20_to_30   1  0.8252    0.6317  0.8544

In [81]:
df_mean = df.groupby("scenario")[["acc", "f1_score", "auroc"]].mean()

In [83]:
df_mean.reset_index()

   scenario      acc  f1_score    auroc
0  17_to_23  0.69668   0.41270  0.88594
1  20_to_30  0.75728   0.54898  0.86520
2  23_to_32  0.51012   0.30200  0.76942
3   28_to_4  0.93634   0.91190  0.99028
4   2_to_11  0.76316   0.55510  0.92926
5  33_to_12  0.81380   0.57080  0.94102
6  35_to_31  0.66988   0.54958  0.89104
7   5_to_26  0.67802   0.29602  0.83626
8   6_to_19  0.64696   0.44452  0.83084
9   7_to_18  0.72832   0.50744  0.79510

In [42]:
{f : f+"_std" for f in df_std.columns}

{'acc': 'acc_std', 'f1_score': 'f1_score_std', 'auroc': 'auroc_std'}

In [48]:
df_mean = df.groupby("scenario")[["acc", "f1_score", "auroc"]].mean()
df_std = df.groupby("scenario")[["acc", "f1_score", "auroc"]].std()
df_std = df_std.rename(columns = {f : f+"_std" for f in df_std.columns})
df = pd.concat([df_mean, df_std], axis=1, join="inner")

           acc_std  f1_score_std  auroc_std
scenario
17_to_23  0.071117      0.054577   0.046500
20_to_30  0.042304      0.086398   0.019742
23_to_32  0.308008      0.170828   0.111149
28_to_4   0.083925      0.125862   0.018726
2_to_11   0.068329      0.067707   0.065597
33_to_12  0.041782      0.148566   0.044395
35_to_31  0.050090      0.143360   0.038435
5_to_26   0.018502      0.025420   0.027428
6_to_19   0.134840      0.117813   0.024854
7_to_18   0.040252      0.072368   0.095635

In [49]:
pd.concat([df_mean, df_std], axis=1, join="inner")

              acc  f1_score    auroc   acc_std  f1_score_std  auroc_std
scenario
17_to_23  0.69668   0.41270  0.88594  0.071117      0.054577   0.046500
20_to_30  0.75728   0.54898  0.86520  0.042304      0.086398   0.019742
23_to_32  0.51012   0.30200  0.76942  0.308008      0.170828   0.111149
28_to_4   0.93634   0.91190  0.99028  0.083925      0.125862   0.018726
2_to_11   0.76316   0.55510  0.92926  0.068329      0.067707   0.065597
33_to_12  0.81380   0.57080  0.94102  0.041782      0.148566   0.044395
35_to_31  0.66988   0.54958  0.89104  0.050090      0.143360   0.038435
5_to_26   0.67802   0.29602  0.83626  0.018502      0.025420   0.027428
6_to_19   0.64696   0.44452  0.83084  0.134840      0.117813   0.024854
7_to_18   0.72832   0.50744  0.79510  0.040252      0.072368   0.095635

In [56]:
df = pd.read_csv("risks.csv")
df[df.columns[-3:]]

    src_risk  few_shot_risk  trg_risk
0     0.1758         1.3035    0.7309
1     0.1972         1.4026    0.7192
2     0.2062         1.2587    0.8631
3     0.1433         1.3820    0.7169
4     0.1347         1.1624    0.7137
5     0.2667         1.3390    0.8714
6     0.2638         1.2278    0.7800
7     0.2683         1.4084    0.8455
8     0.1865         1.2037    0.7708
9     0.2323         1.1824    0.8433
10    0.3960         1.3481    1.0186
11    0.3135         1.4612    1.0965
12    0.3446         1.0598    0.8826
13    0.3076         1.6925    1.2004
14    0.2300         1.2295    1.0652
15    0.2212         1.0234    0.8286
16    0.1940         1.1249    0.8285
17    0.2296         1.1912    0.8665
18    0.2103         1.1898    0.9976
19    0.1989         1.0602    0.8126
20    0.2418         0.8773    0.7047
21    0.2493         1.0511    0.7388
22    0.2593         1.0483    0.6892
23    0.1899         1.1402    0.7227
24    0.2692         1.0119    0.6586
25    0.1574         0.9684    0.6954
26    0.1902         1.0155    0.6545
27    0.2056         0.7502    0.5846
28    0.1411         0.7507    0.4909
29    0.1714         1.0416    0.7638
30    0.1983         1.2499    0.7773
31    0.2153         1.1853    0.7060
32    0.2319         1.0124    0.7084
33    0.1604         1.0550    0.6405
34    0.1263         1.0931    0.6441
35    0.3624         1.7053    0.9277
36    0.3225         1.7559    0.8958
37    0.4242         1.5866    0.9062
38    0.2891         1.5541    0.8431
39    0.2929         1.8054    0.9359
40    0.1383         0.8351    0.6896
41    0.1793         0.8132    0.6301
42    0.2100         0.9340    0.7531
43    0.1561         0.8977    0.6626
44    0.1532         0.8840    0.7723
45    0.3590         0.9468    0.9090
46    0.3718         0.9706    0.9126
47    0.3760         1.1491    1.3346
48    0.3363         1.0639    0.8231
49    0.3110         1.1780    1.4985
50    0.2402         1.1716    0.8225
51    0.0767         0.2551    0.1833

In [62]:
type(df.acc)

AttributeError: 'DataFrame' object has no attribute 'acc'